# Explicitly declare text files to always be normalized and converted to native line endings on checkout.
*.java          text=auto eol=lf
*.properties    text=auto eol=lf
*.xml           text=auto eol=lf
*.yml           text=auto eol=lf
*.md            text=auto eol=lf
LICENSE         text=auto eol=lf
mvnw            text=auto eol=lf
.gitignore      text=auto eol=lf
.gitattributes  text=auto eol=lf
.editorconfig   text=auto eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.cmd           text eol=crlf
